@charset "utf-8";

.section-inner {
    margin-bottom: 8rem;
    &__title {
        font-weight: 500;
        font-size: 2.4rem;
        margin-bottom: 1rem;

        @include md {
            font-size: 3.4rem;
        }

        &--white {
            color: #fff;
        }
    }
    
    &__subtitle {
        font-weight: 500;
        font-size: 1.8rem;
        margin-top: 2rem;

        @include md {
            font-size: 2.4rem;
        }

        &--white {
            color: #fff;
        }
    }
    
    &__description {
        font-size: 1.5rem;
        line-height: 1.75;
        // margin-bottom: 1em;

        @include md {
            font-size: 1.6rem;
        }

        &--white {
            color: #fff;
        }
    }
}